<!doctype html>
<html>
  <head>
    <title>Chris' Shitty Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">What's good everyone?</a>
      </nav>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-4"><a href="app/leaflet">Halo is the best video game ever</a></h1>

          <p class="lead"></p>
        </div>
      </div>
      <div class="container">
        <p>Chris kinda sucks at web development for now...</p>
      </div>
    </div>
  </body>
</html>
